* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #00ff88;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  width: 420px;
  text-align: center;
  box-shadow: 0 0 25px #00ff88;
}

h1 {
  color: #00ff88;
  margin-bottom: 10px;
}

.warning {
  color: red;
  font-size: 12px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 15px;
}

button {
  padding: 8px;
  background: black;
  border: 1px solid #00ff88;
  color: #00ff88;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00ff88;
  color: black;
}

button.selected {
  background: #00ff88;
  color: black;
}

.predict {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

.console {
  margin-top: 15px;
  background: black;
  padding: 10px;
  border: 1px solid #00ff88;
  min-height: 60px;
  text-align: left;
}

.progress-bar {
  margin-top: 10px;
  width: 100%;
  height: 8px;
  background: #222;
}

.progress {
  height: 8px;
  width: 0%;
  background: #00ff88;
  transition: width 0.3s;
}

.live {
  font-size: 12px;
  margin-top: 8px;
  color: #888;
}

#result {
  margin-top: 15px;
  font-weight: bold;
  animation: glitch 0.3s infinite alternate;
}

@keyframes glitch {
  0% { transform: translateX(0); }
  100% { transform: translateX(2px); }
}
